@model JAG.Toddler.Core.Models.Default.Companies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Companies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartFiscalYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartFiscalYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComAddress1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComAddress1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComAddess2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComAddess2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consult.ConsultId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompanyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
